{% extends '_base.html' %}
{% load static %}

{% block title %}Configs{% endblock title %}

{% block content %}

<h1>{{fortipoc}}</h1>
{% for device in devices %}
    <a href="https://{{device.ip}}:{{device.https}}/">{{device.name}}</a> ({{device.name_fpoc}}) => {{device.deployment_status}}
    <br>
{% empty %}
{% endfor %}


<hr>
<h1>Rendering contexts</h1>
{% for device in devices %}
    <b>{{device.name}}</b>

    <!-- dump the context dictionary -->
    {% for param in device.context.items %}
        {{param}}
    {% endfor %}

    <br><br>
{% empty %}
{% endfor %}

<hr>
<h1>Configuration files</h1>
{% for device in devices %}
    <h2><a id="{{device.name}}"></a>{{ device.name }}</h2>
    <pre>{{ device.config }}</pre>
    <hr>
{% empty %}
    <h3>No configuration was generated</h3>
{% endfor %}

{% endblock content %}
