{% extends '_base.html' %}
{% load static %}

{% block title %}Configs{% endblock title %}

{% block content %}

<h2>{{fortipoc}}</h2>
{% for device in devices %}
    <a href="https://{{device.ip}}:{{device.https}}/" target="_blank">{{device.name}}</a> ({{device.name_fpoc}}) => {{device.deployment_status}}
    <br>
{% empty %}
{% endfor %}


<hr>
<h2>Rendering contexts</h2>
{% for device in devices %}
    <a href="#{{device.name}}">{{device.name}}</a>

    <!-- dump the context dictionary -->
    {% for param in device.context.items %}
        {{param}}
    {% endfor %}

    <br><br>
{% empty %}
{% endfor %}

<hr>
<h2>Configuration files</h2>
{% for device in devices %}
    <h2><a id="{{device.name}}"></a>{{ device.name }}</h2>
    <pre>{{ device.config }}</pre>
    <hr>
{% empty %}
    <h3>No configuration was generated</h3>
{% endfor %}

{% endblock content %}
