{% extends '_base.html' %}
{% load static %}

{% block title %}Configs{% endblock title %}

{% block content %}

{% for device in devices %}
    {{device.name}}
    ({{device.name_fpoc}})
    [<a href="{{device.URL.1}}" target="_blank">{{device.URL.0}}</a>]
    [<a href="{{device.URL_console}}" target="_blank">console</a>]
    =>
    {% if device.deployment_status == "skipped" %}
        <strong>{{device.deployment_status}}</strong>
    {% else %}
        {{device.deployment_status}}
    {% endif %}
    <br>
{% empty %}
{% endfor %}


<hr>
<h2>poc_id={{poc_id}}</h2>

<ul>
{% for message in messages %}
    <li>{{message|safe}}</li>
{% endfor %}
</ul>

<hr>
<h2>Rendering contexts</h2>
{% for device in devices %}
    <a href="#{{device.name}}">{{device.name}}</a>

    <!-- dump the context dictionary -->
    {{device.context}}
    <br><br>
{% empty %}
{% endfor %}

<hr>
<h2>Configuration files</h2>
{% for device in devices %}
    <h2><a id="{{device.name}}"></a>{{ device.name }}</h2>
    <pre>{{ device.config }}</pre>
    <hr>
{% empty %}
    <h3>No configuration was generated</h3>
{% endfor %}

{% if fortimanager|default:false %}
    <h3>Jinja script for FortiManager Provisioning Templates</h3>
    {{fortimanager|safe}}
{% endif %}

{% endblock content %}
